---
import { Image } from "astro:assets";
import WavePNG from "@/assets/background/lower_wave.webp";
import Subtitle from "@/components/heading/Subtitle.astro";
import PricingCard from "@/components/ui/PricingCard.astro";
import Layout from "@/layouts/Layout.astro";
import PageHeader from "@/components/header/PageHeader.astro";
---

<!-- PricingSection -->
<Layout title="RysthDesign | Precios en Diseño y Desarrollo Web Profesionales">
  <PageHeader title="Nuestros Planes" currentPage="Precios" />
  <section class="relative p-4">
    <Image
      src={WavePNG}
      alt="Wave Background"
      class="absolute bottom-0 left-0 right-0 w-full max-h-96 brightness-75"
    />
    <div class="max-w-screen-xl py-12 mx-auto space-y-12 md:py-14">
      <Subtitle
        title="Planes de Diseño y Desarrollo Web"
        textColor="text-white"
        description="Ofrecemos soluciones a medida para tu presencia digital, con opciones desde tiendas en línea hasta aplicaciones web avanzadas."
        descriptionColor="text-neutral-300"
      />
      <div
        class="relative flex flex-col items-center justify-center space-x-4 space-y-12 md:flex-row lg:space-y-0"
      >
        {/* Plan Informativo */}
        <PricingCard
          title="Plan Informativo"
          price="$300+"
          features={[
            "Diseño Web Profesional",
            "Perfil de Google Business",
            "Página Informativa",
            "Hasta 5 Secciones",
            "Formulario de Contacto",
            "Certificación SSL",
            "Dominio Gratuito por 1 Año",
            "Hosting Gratuito por 1 Año",
            "Optimizado para Móviles",
          ]}
          maintanceText="Mantenimiento y Optimización $0/mes"
          buttonText="Comenzar Ahora"
          highlight={false}
        />
        {/* Plan E-Commerce */}
        <PricingCard
          title="Plan E-Commerce"
          price="$600+"
          features={[
            "Gestor de Contenido",
            "Tienda en Línea",
            "Pedidos por WhatsApp",
            "Hasta 100 Productos",
            "Diseño Web Profesional",
            "Certificación SSL",
            "Dominio Gratuito por 1 Año",
            "Hosting Gratuito por 1 Año",
            "Optimizado para Móviles",
          ]}
          buttonText="Comenzar Ahora"
          maintanceText="Mantenimiento y Optimización $15/mes"
          highlight={true}
        />
        {/* Plan Aplicación Web */}
        <PricingCard
          title="Plan Aplicación Web"
          price="$1200+"
          features={[
            "Aplicación Web Moderna",
            "Base de Datos Segura",
            "Interfaz Personalizada",
            "Respaldo de Información",
            "Diseño Web Profesional",
            "Certificación SSL",
            "Dominio Gratuito por 1 Año",
            "Panel Administrativo",
            "Optimizado para Móviles",
          ]}
          buttonText="Comenzar Ahora"
          maintanceText="Mantenimiento y Optimización $60/mes"
          highlight={false}
        />
      </div>
    </div>
  </section>
</Layout>
