@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@import url("https://fonts.cdnfonts.com/css/inter");
@import url("https://fonts.cdnfonts.com/css/jetbrains-mono");

:root {
  --CL-background-primary: #222222;
  --CL-background-secondary: #161513;

  /* Manteniendo tus colores base como solicitaste */
  --CL-primary: #050505;
  --CL-secondary: #100f1e;
  --CL-tertiary: #4c4ff2;

  /* Nuevos colores complementarios para mejor contraste */
  --CL-accent: #4361ee; /* Azul para acentos */
  --CL-accent-light: #d8e1ff; /* Fondo claro para secciones */
  --CL-accent-dark: #0a2472; /* Para hover y énfasis */
  --CL-success: #2ecc71; /* Color para elementos de éxito/check */
  --CL-warm: #f59e0b; /* Color cálido para llamadas a la acción secundarias */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--CL-primary);
  border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

body {
  @apply bg-brand-gradient;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.bg-brand-blue {
  @apply bg-[var(--CL-primary)];
}

.bg-brand-gradient {
  @apply bg-gradient-to-br from-[var(--CL-primary)] to-[var(--CL-secondary)];
}

.bg-background-primary {
  @apply bg-[var(--CL-background-primary)];
}

.text-brand-blue {
  @apply text-[var(--CL-primary)];
}

.btn {
  @apply font-normal border-transparent shadow-md;
}

.animated-background {
  background-size: 400%;

  -webkit-animation: animation 3s ease infinite;
  -moz-animation: animation 3s ease infinite;
  animation: animation 3s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}
