---
import { Image } from "astro:assets";
import BrandImage from "../../assets/images/brand/brand_dark.png";
---

<footer class="p-4">
  <div class="max-w-xl pt-4 pb-12 mx-auto">
    <header class="flex flex-col items-center justify-center">
      <a
        class="grid w-40 h-20 p-2 text-xl border-transparent place-items-center"
        href="/"
      >
        <Image src={BrandImage} alt="RysthDesign Logo" class="w-full h-full" />
      </a>
    </header>

    <p
      class="max-w-md mx-auto text-sm leading-relaxed text-center text-neutral-600"
    >
      Ingeniero en Software | Automatizaciones de IA | Desarrollador Web &
      Mobile | React Native, NextJS, Ruby on Rails
    </p>
    <a
      href="mailto:johnpalacios.t@gmail.com"
      target="_blank"
      rel="noreferrer"
      class="flex items-center gap-1 mx-auto mt-2 text-sm transition duration-200 w-max text-neutral-600 hover:text-indigo-900"
    >
      <i class="text-xl bx bx-envelope"></i>
      <span class="underline">johnpalacios.t@gmail.com</span></a
    >
    <ul class="flex justify-center gap-6 mt-4 md:gap-8">
      <li>
        <a
          href="https://www.instagram.com/rysthdesign/"
          target="_blank"
          rel="noreferrer"
          class="flex items-center gap-1 text-sm transition duration-200 text-neutral-600 hover:text-indigo-900"
        >
          <i class="text-xl bx bxl-instagram"></i>
          <span class="sr-only">Instagram</span></a
        >
      </li>
      <li>
        <a
          href="https://www.tiktok.com/@rysthdesign"
          target="_blank"
          rel="noreferrer"
          class="flex items-center gap-1 text-sm transition duration-200 text-neutral-600 hover:text-indigo-900"
        >
          <i class="text-xl bx bxl-tiktok"></i>
          <span class="sr-only">Tiktok</span></a
        >
      </li>
      <li>
        <a
          href="http://tinyurl.com/contact-ws"
          target="_blank"
          rel="noreferrer"
          class="flex items-center gap-1 text-sm transition duration-200 text-neutral-600 hover:text-indigo-900"
        >
          <i class="text-xl bx bxl-whatsapp"></i>
          <span class="sr-only">Whatsapp</span></a
        >
      </li>
    </ul>
  </div>
  <p
    class="pt-4 text-sm text-center border-t border-neutral-500 text-neutral-600"
  >
    RysthDesign © 2025. Todos los Derechos Reservados.
  </p>
</footer>
