---
import { Image } from "astro:assets";
import { FaInstagram, FaFacebook, FaWhatsapp, FaGoogle } from "react-icons/fa6";
import BrandImage from "../../assets/images/brand/brand.svg";
---

<footer class="p-4">
  <div class="max-w-xl py-12 mx-auto pb:0">
    <header class="flex flex-col items-center justify-center">
      <a
        class="grid h-20 p-2 text-xl border-transparent w-36 place-items-center"
        href="/"
      >
        <Image src={BrandImage} alt="RysthDesign Logo" class="w-full h-full" />
      </a>
    </header>

    <p
      class="max-w-sm mx-auto text-sm leading-relaxed text-center text-neutral-300"
    >
      Diseño y Desarrollo de Sitios Web Profesionales | Aplicaciones Web |
      Tíendas en Línea | Páginas Web
    </p>

    <ul class="flex justify-center gap-6 mt-4 md:gap-8">
      <li>
        <a
          href="https://www.instagram.com/rysthdesign/"
          class="flex items-center gap-1 text-sm transition duration-200 text-neutral-300 hover:text-indigo-900"
        >
          <FaInstagram className="text-xl" />
          <span class="sr-only">Instagram</span></a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com/rysthdesign"
          class="flex items-center gap-1 text-sm transition duration-200 text-neutral-300 hover:text-indigo-900"
        >
          <FaFacebook className="text-xl" />
          <span class="sr-only">Facebook</span></a
        >
      </li>
      <li>
        <a
          href="http://tinyurl.com/contact-ws"
          class="flex items-center gap-1 text-sm transition duration-200 text-neutral-300 hover:text-indigo-900"
        >
          <FaWhatsapp className="text-xl" />
          <span class="sr-only">Whatsapp</span></a
        >
      </li>
      <li>
        <a
          href="https://maps.app.goo.gl/TWchQ4wV5Lanu2i26"
          class="flex items-center gap-1 text-sm transition duration-200 text-neutral-300 hover:text-indigo-900"
        >
          <FaGoogle className="text-xl" />
          <span class="sr-only">Google</span></a
        >
      </li>
    </ul>
  </div>
  <p class="pt-4 text-sm text-center border-t text-neutral-300">
    RysthDesign © 2024. Todos los Derechos Reservados.
  </p>
</footer>
