---
import BrandImage from "../../assets/images/brand/brand_dark.svg";
import { Image } from "astro:assets";
import { FaWhatsapp, FaHome, FaPencilAlt, FaPhoneAlt } from "react-icons/fa";
import { HiBars3BottomLeft } from "react-icons/hi2";
---

<nav
  class="fixed top-0 z-50 w-full px-4 py-6 transition duration-300 bg-white shadow shadow-black/5"
  id="navbar"
>
  <div class="relative max-w-screen-xl p-0 mx-auto navbar">
    <div class="navbar-start">
      <div class="">
        <button
          type="button"
          class="btn btn-ghost lg:hidden ps-2 pe-2"
          aria-label="Toggle button menu"
          id="toggleButton"
        >
          <HiBars3BottomLeft className="text-3xl" />
        </button>
        <ul
          class="hidden absolute left-0 right-0 top-4/4 lg:hidden my-4 z-[1] p-4 shadow-xl bg-base-100 rounded-xl space-y-4 min-w-full transition"
          id="mobileMenu"
        >
          <li>
            <a class="flex items-center gap-2 text-sm" href="/">
              <FaHome className="text-lg text-brand-blue" />
              Inicio</a
            >
          </li>
          <li>
            <a class="flex items-center gap-2 text-sm" href="/servicios">
              <FaPencilAlt className="text-lg text-brand-blue" />
              Servicios</a
            >
          </li>
          <!--  <li>
            <a class="flex items-center gap-2 text-sm" href="/planes">
              <FaPencilAlt className="text-lg text-brand-blue" />
              Planes</a
            >
          </li> -->
          <li>
            <a class="flex items-center gap-2 text-sm" href=" contactos">
              <FaPhoneAlt className="text-lg text-brand-blue" />

              Contactos</a
            >
          </li>
        </ul>
      </div>
      <a class="text-xl" href="/">
        <Image src={BrandImage} alt="RysthDesign Logo" class="w-20 lg:w-32" />
      </a>
    </div>
    <div class="hidden navbar-center lg:flex">
      <ul class="gap-2 px-1 menu menu-horizontal">
        <li><a href="/">Inicio</a></li>
        <li>
          <a href="/servicios">Servicios</a>
        </li>
        <!--  <li>
          <a href="/planes">Planes</a>
        </li> -->
        <li><a href="/contactos">Contactos</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a
        href="http://tinyurl.com/contact-ws"
        target="_blank"
        class="text-xs text-white bg-green-500 border-transparent rounded-full shadow-xl btn lg:text-sm btn-neutral hover:bg-green-500 hover:border-transparent shadow-green-500/25 hover:-translate-y-2"
      >
        <FaWhatsapp className="block text-2xl" />
        Contactar
      </a>
    </div>
  </div>
</nav>

<script>
  const toggleButton = document.querySelector("#toggleButton");
  const mobileMenu = document.querySelector("#mobileMenu");

  toggleButton.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
  });
</script>
