---
import { Image } from "astro:assets";
import { FaHome, FaPhoneAlt } from "react-icons/fa";
import BrandImage from "../../assets/images/brand/brand.svg";
---

<nav
  class="sticky top-0 z-50 w-full p-4 py-2 transition duration-300 bg-background-primary shadow-black/5"
  id="navbar"
>
  <div class="relative max-w-screen-xl p-0 mx-auto navbar">
    <div class="navbar-start">
      <div class="">
        <button
          type="button"
          class="btn btn-ghost lg:hidden ps-2 pe-2"
          aria-label="Toggle button menu "
          id="toggleButton"
        >
          <i class="text-2xl text-white bx bx-menu-alt-left"></i>
        </button>
        <ul
          class="hidden duration-700 absolute left-0 right-0 top-20 lg:hidden z-[1] p-4 shadow-xl bg-white rounded-xl space-y-2 min-w-full transition text-neutral-900"
          id="mobileMenu"
        >
          <li>
            <a class="flex items-center gap-2 text-sm" href="/">
              <i class="text-lg bx bx-home"></i>
              Inicio</a
            >
          </li>
          <li>
            <a class="flex items-center gap-2 text-sm" href="/servicios">
              <i class="text-lg bx bx-briefcase"></i>
              Servicios</a
            >
          </li>
          <li>
            <a class="flex items-center gap-2 text-sm" href="/planes">
              <i class="text-lg bx bx-dollar"></i>
              Planes</a
            >
          </li>
          <li>
            <a class="flex items-center gap-2 text-sm" href="/contactos">
              <i class="text-lg bx bx-envelope"></i>
              Contactos</a
            >
          </li>
        </ul>
      </div>
      <a class="text-xl" href="/">
        <Image src={BrandImage} alt="RysthDesign Logo" class="w-16 md:w-20" />
      </a>
    </div>
    <div class="hidden navbar-center lg:flex">
      <ul class="flex gap-3 text-white">
        <li>
          <a
            href="/"
            class="btn btn-sm btn-ghost hover:bg-neutral-600 hover:bg-opacity-20 hover:shadow-xl"
            >Inicio</a
          >
        </li>
        <li>
          <a
            href="/servicios"
            class="btn btn-sm btn-ghost hover:bg-neutral-600 hover:bg-opacity-20 hover:shadow-xl"
            >Servicios</a
          >
        </li>
        <li>
          <a
            href="/planes"
            class="btn btn-sm btn-ghost hover:bg-neutral-600 hover:bg-opacity-20 hover:shadow-xl"
            >Planes</a
          >
        </li>
        <li>
          <a
            href="/contactos"
            class="btn btn-sm btn-ghost hover:bg-neutral-600 hover:bg-opacity-20 hover:shadow-xl"
            >Contactos</a
          >
        </li>
      </ul>
    </div>
    <div class="navbar-end">
      <a
        href="https://www.linkedin.com/in/john-palacios-tutiven-a34ab9310/"
        target="_blank"
        class="text-xs text-white border bg-brand-gradient hover:shadow-xl border-neutral-800 btn lg:text-sm btn-neutral hover:border-transparent hover:shadow-indigo-900/25"
      >
        <i class="text-xl bx bxl-linkedin md:text-2xl"></i>
        Linkedin
      </a>
    </div>
  </div>
</nav>

<script>
  const toggleButton = document.querySelector("#toggleButton");
  const mobileMenu = document.querySelector("#mobileMenu");

  toggleButton.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
  });
</script>
