---
interface Props {
  title: string;
  currentPage: string;
}

const { title, currentPage } = Astro.props;
---

<header
  class="py-12 text-center text-white bg-gradient-to-t bg-brand-gradient md:py-24"
>
  <h2 class="text-2xl font-black md:text-3xl">{title}</h2>
  <div class="flex justify-center text-sm breadcrumbs">
    <ul class="text-white/80">
      <li><a href="/">Inicio</a></li>
      <li>{currentPage}</li>
    </ul>
  </div>
</header>
