---
import ServiceCard from "@/components/ui/ServiceCard.astro";
import Subtitle from "@/components/heading/Subtitle.astro";
import { IoLogoWebComponent } from "react-icons/io5";
import {
  HiOutlineCodeBracketSquare,
  HiOutlineBuildingStorefront,
} from "react-icons/hi2";
import { FaWhatsapp } from "react-icons/fa";
---

<section class="p-4">
  <article class="max-w-screen-xl py-12 mx-auto md:py-24 lg:pt-36">
    <Subtitle
      title="Nuestros Servicios"
      description="Desarrollo web y diseño de sitios intuitivos, con enfoque en plataformas e-commerce innovadoras y experiencia de usuario."
    />
    <section
      class="grid grid-cols-1 gap-6 mt-16 md:mt-20 md:grid-cols-2 lg:grid-cols-4"
    >
      <div>
        <ServiceCard
          title="Aplicaciones Web"
          description="Aplicaciones web robustas y escalables, con tecnologías modernas para negocios en crecimiento."
          IconComponent={HiOutlineCodeBracketSquare}
          bgColorClass="bg-cyan-100"
        />
        <div class="justify-center hidden mt-4">
          <a
            href="/servicios/aplicaciones-web"
            class="mx-auto text-white border-transparent btn btn-neutral bg-brand-blue"
            >Conocer Más</a
          >
        </div>
      </div>
      <div>
        <ServiceCard
          title="Diseño de Sitios Web"
          description="Diseños web atractivos y funcionales, centrados en la experiencia del usuario y la identidad de marca."
          IconComponent={IoLogoWebComponent}
          bgColorClass="bg-indigo-100"
        />
        <div class="justify-center hidden mt-4">
          <a
            href="/servicios/diseno-web"
            class="mx-auto text-white border-transparent btn btn-neutral bg-brand-blue"
            >Conocer Más</a
          >
        </div>
      </div>
      <div>
        <ServiceCard
          title="Plataformas e-Commerce"
          description="Soluciones e-commerce personalizadas para una experiencia de compra óptima y segura."
          IconComponent={HiOutlineBuildingStorefront}
          bgColorClass="bg-purple-100"
        />
        <div class="justify-center hidden mt-4">
          <a
            href="/servicios/tienda-en-linea"
            class="mx-auto text-white border-transparent btn btn-neutral bg-brand-blue"
            >Conocer Más</a
          >
        </div>
      </div>
      <div>
        <ServiceCard
          title="ChatWoot CRM"
          description="Centraliza la atención al cliente con WhatsApp Business en una sola plataforma profesional."
          IconComponent={FaWhatsapp}
          bgColorClass="bg-green-100"
        />
        <div class="flex justify-center mt-4">
          <a
            href="/servicios/chatwoot"
            class="mx-auto text-white border-transparent btn btn-neutral bg-brand-blue"
            >Conocer Más</a
          >
        </div>
      </div>
    </section>
  </article>
</section>
