---
import * as IoIcons from "react-icons/io5";
import * as FaIcons from "react-icons/fa6";
const { IoBriefcase, IoDesktop, IoSchool } = IoIcons;
const { FaStar } = FaIcons;
---

<section
  class="p-4 bg-gradient-to-br bg-brand-gradient animate__animated animate__fadeIn"
>
  <article class="relative z-20 max-w-screen-xl py-12 mx-auto md:py-24">
    <main class="grid grid-cols-2 gap-y-8 md:gap-8 md:grid-cols-4">
      <!-- Proyectos Realizados -->
      <div
        class="flex flex-col items-center justify-center gap-2 text-white md:gap-4"
      >
        <IoDesktop className="md:h-20 md:w-20 w-12 h-12" />
        <div class="space-y-2 text-center">
          <p class="text-2xl font-bold md:text-4xl">+15</p>
          <p class="text-xs md:text-sm">Proyectos Realizados</p>
        </div>
      </div>

      <!-- Años de Experiencia Académica -->
      <div
        class="flex flex-col items-center justify-center gap-2 text-white md:gap-4"
      >
        <IoSchool className="md:h-20 md:w-20 w-12 h-12" />
        <div class="space-y-2 text-center">
          <p class="text-2xl font-bold md:text-4xl">+5</p>
          <p class="text-xs md:text-sm">Años de Estudio Académico</p>
        </div>
      </div>

      <!-- Experiencia en Desarrollo Web -->
      <div
        class="flex flex-col items-center justify-center gap-2 text-white md:gap-4"
      >
        <IoBriefcase className="md:h-20 md:w-20 w-12 h-12" />
        <div class="space-y-2 text-center">
          <p class="text-2xl font-bold md:text-4xl">+1200</p>
          <p class="text-xs md:text-sm">Horas en Desarrollo Web</p>
        </div>
      </div>

      <!-- Reseñas en Google -->
      <div
        class="flex flex-col items-center justify-center gap-2 text-white md:gap-4"
      >
        <FaStar className="md:h-20 md:w-20 w-12 h-12" />
        <div class="space-y-2 text-center">
          <p class="text-2xl font-bold md:text-4xl">+25</p>
          <p class="text-xs md:text-sm">Reseñas de Clientes</p>
        </div>
      </div>
    </main>
  </article>
</section>
