---
import { Twitter, Instagram, Dribbble, Facebook, Mail } from "lucide-react";

const links = [
  { href: "https://x.com/rysthdesign", icon: Twitter },
  { href: "https://instagram.com/rysthdesign", icon: Instagram },
  { href: "https://dribbble.com/rysth", icon: Dribbble },
  { href: "https://facebook.com/rysthdesign", icon: Facebook },
  { href: "mailto:john@rysth.com", icon: Mail },
];
---

<div class="flex space-x-3">
  {
    links.map((link) => (
      <a
        href={link.href}
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center justify-center w-12 h-12 transition-colors duration-200 rounded-lg bg-zinc-950 hover:bg-gray-700"
      >
        <link.icon className="w-7 h-7 text-gray-300 hover:text-white" />
      </a>
    ))
  }
</div>
